In [1]:
class dpcoe:
    def __init__(self,colg,dept,total,degr):
        self._colg = colg
        self._dept = dept
        self.total = total
        self.degr = degr
        
    def call(self,age):
        self.age = age
        print("hey the college in which i am persuing my engineering is ",self._colg)
        print('I am of '  +  age  +  ' years of old ')
        
    def j(self):
        print("I am from " + self._dept  +  ' department ')
        print("Also i am persuing my ",self.degr)
        print("the total strength of my department is ",self.total)
        print("i belong to ",self._colg)
        
        
    def bird(self,name,fly,swim):
        self.name = name
        self.fly = fly
        self.swim = swim
        print('the name of the bird is ' + name  +  fly + swim)

harsh = dpcoe('dhole patil college','computer','190','B tech')
harsh.call('22')
harsh.j()
harsh.bird(' peacock ',' it cannot fly ',' also cannot swim ')

info = dpcoe('AISSMS','electrical','45','BE in comp')
info.call('45')
info.j()
info.bird(' hen ',' cannot fly ',' cant swim even ')

hey the college in which i am persuing my engineering is  dhole patil college
I am of 22 years of old
I am from computer department
Also i am persuing my  B tech
the total strength of my department is  190
i belong to  dhole patil college
the name of the bird is  peacock  it cannot fly  also cannot swim
hey the college in which i am persuing my engineering is  AISSMS
I am of 45 years of old
I am from electrical department
Also i am persuing my  BE in comp
the total strength of my department is  45
i belong to  AISSMS
the name of the bird is  hen  cannot fly  cant swim even

In [2]:
class car:
    def hd(self,company ='hyundai',model ='venue',typ ='sedan',horsp = 4567):
        self.company = company
        self.model = model
        self.typ = typ
        self.horsp = horsp
        print('my fav car is ',company)
        print('its horse power is ',horsp)
class inherit(car):
    def chinks(self):
        print("the name of the model is",self.model)

In [3]:
prakat = inherit()
prakat.hd()
prakat.chinks()

my fav car is  hyundai
its horse power is  4567
the name of the model is venue

In [4]:
class artificial:                                                   ## parent class 1st
    def main(self,tech,cat):
        self.tech = tech
        self.cat = cat
        print('this is the first class ' + tech + ' it comes ' + cat)
class machine(artificial):                                          # child classs 1
    def secon(self,domain,cat2):
        self.domain = domain
        self.cat2 = cat2
        print('under artificial int.. ' + domain + ' comes and ' + cat2)
class deep(machine):                                                         ## child class 3
    def third(self,domain3,cat3): 
        self.domain3 = domain3
        self.cat3 = cat3
        print('now the third subset is ' + domain3 + ' and it is ' + cat3)
    
era = deep()

era.main('artifical','first')
era.secon('machine','like human')
era.third('deep learning','brian')

this is the first class artifical it comes first
under artificial int.. machine comes and like human
now the third subset is deep learning and it is brian

In [5]:
class sports:
    def cricket(self,name,age,career,win):
        self.name = name
        self.age = age
        self.career = career
        self.win = win
        print('one of run machine in cricket is ' +  name)
class sports2(sports):
    def badminton(self,name,win):
        print('the most famous player in badminton is',self.name)
        print('she had won tournaments',self.win)
        
class fifa(sports2):
    def football(self,name,age):
        print('the world knows the best fifa player his name is',self.name)
        print("christiano ronaldo's age is",self.age)

In [6]:
khel = fifa()

khel.cricket('virat kohli','39','batsman','45')

khel.badminton('Sindhu','32')

khel.football('ronaldo','29')

one of run machine in cricket is virat kohli
the most famous player in badminton is virat kohli
she had won tournaments 45
the world knows the best fifa player his name is virat kohli
christiano ronaldo's age is 39

# string

In [7]:
hd1 = 'hey listen harshal u have to improve urself'
print(hd1[0:10])

hey listen

# in string data types concatination is done by merging to alphabetical characters in ""

In [8]:
a = 'jyvytvhtv'
b = 'iiyvtfiiuh'
s = a + b

In [9]:
s

'jyvytvhtviiyvtfiiuh'

# String formatting

In [10]:
formatt = ("{1},{3},{0},{2}".format('harshal','dhapate','omkar','dj'))

In [11]:
formatt

'dhapate,dj,harshal,omkar'

# string functions

In [12]:
my = "hello guys and baffled guy"

In [13]:
my.capitalize()

'Hello guys and baffled guy'

In [14]:
my.split()

['hello', 'guys', 'and', 'baffled', 'guy']

In [15]:
my.upper()

'HELLO GUYS AND BAFFLED GUY'

In [16]:
wassup = 'Work HArd bRo'

In [17]:
wassup.swapcase()

'wORK haRD BrO'

In [18]:
wassup.endswith('o')

True

In [19]:
cent = 'jai bajranhbal jai hanumnan jai jai jai hanuman'

In [20]:
cent.center(100)

'                          jai bajranhbal jai hanumnan jai jai jai hanuman                           '

In [21]:
sign = '@#$%$# harshal@gkjnbjj'

In [22]:
sign.splitlines()

['@#$%$# harshal@gkjnbjj']

In [23]:
sign.casefold()

'@#$%$# harshal@gkjnbjj'

In [24]:
sign.isalnum()

False

In [25]:
dig = "8765432"
dig.isalnum()

True

In [26]:
dig.partition("8765432")

('', '8765432', '')

In [27]:
class friend:
    def best(self,h = str(input("the girl who u loved the most -"))):
        self.h = h
        print("the girl i loved the most her name was",h)
        
        if 'akshara' in h:
            print("hd loves her")
        
        
        
        
        
back = friend()
back.best()

the girl who u loved the most -akshara
the girl i loved the most her name was akshara
hd loves her

In [28]:
import pandas as pd
class ipl_2023:
    
    def csk(self,cap):
        self.cap = cap

        print('the captain of chennai super kings is',cap)
        disp = {'chennai':['MS Dhoni','Moeen Ali','Ruturaj Gaikwad','Ravindra Jadeja','Robin Uthappa','Dwayne Bravo','Ambati Rayudu','Deepak Chahar','KM Asif','Shivam Dube']}

        out = pd.DataFrame(disp)
        print(out)
    def MI():
        
    
        print("The captain of mumbai indians  is ",self.cap)
        import pandas as pd
        disp2 = {'mumbai':['Rohit Sharma','Tim David','Ramandeep Singh','Tilak Varma','Suryakumar Yadav','Ishan Kishan','Tristan Stubbs','Dewald Brevis','Jofra Archer','Jasprit Bumrah','Arjun Tendulkar','Arshad Khan','Kumar Kartikeya','Hrithik Shokeen','Jason Behrendorff','Akash Madhwal']}
    
        out1 = pd.DataFrame(disp2)
        print(out1)
        
    def LSG():

        print("The captain of lucknow super giants is ",self.cap)
        import pandas as pd
        disp3 = {'lucknow':[ 'KL Rahul', 'Marcus Stoinis', 'Quinton de Kock', 'Karan Sharma', 'Manan Vohra', 'Ayush Badoni', 'Ravi Bishnoi', 'Mohsin Khan', 'Mark Wood', 'Mayank Yadav',' Krunal Pandya', 'Avesh Khan', 'Kayal Mayer', 'Krishnappa', 'Gautam Deepak Hooda']}
        out3 = pd.DataFrame(disp3)
        print(out3)







ipl_teams = ipl_2023()

ipl_teams.csk('MS DHONI')
ipl_teams.MI('Sharma')
ipl_teams.LSG('KL RAHUL')

the captain of chennai super kings is MS DHONI
           chennai
0         MS Dhoni
1        Moeen Ali
2  Ruturaj Gaikwad
3  Ravindra Jadeja
4    Robin Uthappa
5     Dwayne Bravo
6    Ambati Rayudu
7    Deepak Chahar
8          KM Asif
9      Shivam Dube

TypeError: MI() takes 0 positional arguments but 2 were given

# file handling

In [ ]:
hars = open('dhappu.txt','w')
hars.write('jiv zala yeda pisa')

In [ ]:
hars = open('dhappu.txt','r')
hars.read()

In [ ]:
dhap = open(r'C:\Users\Harshal Vijaykumar D\dhapate.txt','r')
dhap.readlines()

In [ ]:
dhap = open(r'C:\Users\Harshal Vijaykumar D\dhapate.txt','w')
dhap.write('again i am appending something')

In [ ]:
dhap = open(r'C:\Users\Harshal Vijaykumar D\dhapate.txt','r')
dhap.readlines()

In [ ]:
dhap = open(r'dhapate.txt','r')
dhap.read()

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
p = os.listdir()

In [ ]:
p

In [ ]:
p.remove('dhappu.txt')

In [ ]:
import seaborn as sb
sb.get_dataset_names()

In [ ]:
import seaborn as sb
k = sb.load_dataset('car_crashes')
k.shape

In [ ]:
ct = []
cn = []

for i in k.columns:
    if(k[i].dtypes == 'object'):
        ct.append(i)
    else:
        cn.append(i)

In [ ]:
import pandas as p

In [ ]:
chinki = open('yadein.txt','w')
chinki.write("can't forget her")

In [ ]:
chinki = open('yadein.txt','r')
chinki.read()

In [ ]:
chinki = open('yadein.txt','a')
chinki.write(" because i loved her")

In [ ]:
chinki = open('yadein.txt','r')
print(chinki.read())

In [ ]:
chinki.close()

In [ ]:
chinki.read()

In [ ]:
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore',)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
T1 = pd.DataFrame(ss.fit_transform(k[cn]),columns=cn)

In [ ]:
k

In [ ]:
wow = sb.regplot(k.speeding,k.total)

In [ ]:
yes = "it's callable"

# checking weather skew is present or not

In [ ]:
import pandas as pd

sk = pd.read_csv(r"D:\lib\Cars93.csv")
sk

In [ ]:
o = sk.skew()
o.sort_values()

In [ ]:
from numpy import log
F = sk['Max.Price']

In [ ]:
log(F).skew()

In [ ]:
import seaborn as sb
sb.distplot(sk[['MPG.city']],color='indigo')

# types of errors ocurring

In [ ]:
t = 45
f = 45/3
print(f).astype(F)

In [ ]:
x = 10
B = 90
if x == f:
    pass
    a = f + B
    print(a)

In [ ]:
g = [4,7,9,23,89,90]

try:
    if 0 and 34 in g:
        print("yes its there")
    except:
        print('non its not there')

In [44]:
mileage = [80,50,30]

petrol = int(input("the price of petrol is :-"))
dist = int(input("the distance covered by vehicles"))
expense = int(input("the expense was "))

## for car

car = 500/dist*petrol
print(car)

the price of petrol is :-106
the distance covered by vehicles400
the expense was 6000
132.5